/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  /* text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); */
  background-color: #eceff1;
  background-image: url("background-2.jpg");
  background-size: 100%;
}

.page-header {
  max-width: 42em;
}

.cover-container {
  max-width: 42em;
}

.infobox{
  color:#fb8300 !important;
  background-image: linear-gradient(#1b2228, #5d6773) !important;
  opacity: 0.9 !important;
}

/* #mda-info {
  background-image: url("grid&chart.png");
  background-size: cover;
} */

/* #checkerboard {
  background-image: url("checkerboard.png");
  background-size: cover;
} */


/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.img-box {
  max-width: 200px;
}


.text-box {
  max-width: 800px;
}