body
{
    background-color: rgb(155, 0, 31);
    overflow: hidden;
    color: #656164
}

#main-container
{
    overflow: hidden!important;
}


.w2ui-grid-records
{
    overflow: hidden!important;
    touch-action: auto;
} 

.navbar-expand-sm .navbar-nav .nav-link:hover {
  text-shadow: 0px 3px 5px rgba(255, 255, 0, 1);
}

.navbar-expand-sm .navbar-nav .nav-link {
  font-family: 'Fira Sans', sans-serif;
  color: white;
}

#logo-text {
  font-family: 'Fira Sans', sans-serif;
  color: white;
  /* text-shadow: 1px 1px 2px rgb(182, 182, 182); */
  text-shadow: 1px 1px 3px gold;
  font-weight: bold;
  font-size: 1.5rem;
}

.form-select {
  font-size:1rem;
  font-family: 'Arial', sans-serif;
  font-weight:normal;
}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  color: #ffffff;
  border-color: #ffffff;
}

.node {
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
  cursor: pointer;
}

.node:hover
{
	opacity: 0.75; 
}

.node-label {
  font: 13px sans-serif;
  padding: 4px;
  line-height: 1em;
  white-space: pre;
  font-weight: bold;
  color: #212529;
}

.node-value {
  color: rgba(0,0,0,0.8);
  font-size: 11px;
  font-weight: bold;
  margin-top: 1px;
}

.foreignobj {
  cursor: pointer;
}

tspan:last-child {
  font-size: 9px;
  fill-opacity: 0.8;
}

.node rect {
  shape-rendering: crispEdges;
}

.node--hover rect {
  stroke: #000;
}

.overlay-rect:hover
{
  fill:#ff000040;

}

ul {
  list-style: none;
  padding: 0;
}

.leaflet-popup-content-wrapper {
  border-radius: 0px;
  padding: 0px;
}

.leaflet-popup-content {
  width: 300px;
  margin: 0px;
}

#prop-popup{   
  position: absolute;         
  /* text-align: center;     */
  /*     
  width: 80px;                    
  height: 28px;
  */        
  z-index:999;           
  padding: 8px;               
  font-weight: bold;     
  background: #f0f8ff; 
  border: 0px;        
  border-radius: 8px;      
  box-shadow: 4px 4px 10px rgba(0,0,0,.4);        
}

#popup-info{
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
}

.plot {
  position: absolute;
}

.plot > canvas {
  z-index: 2;
}

.plot > svg {
  z-index: 1;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.tick line{
  opacity: 0.2;
}

.carousel-inner{
  overflow: hidden !important;
}

.popup-table{
  line-height:1.25;
  font-size: 0.8rem;
  font-weight:normal;
}


.control-button {
  background-color: white;
  border-color: black;
  border-radius:4px;
  border-style:solid;
  border-width:2px;
}

div.treemapTooltip {   
  position: absolute;         
  text-align: center;    
  /*     
  width: 80px;                    
  height: 28px;
  */    
  z-index:999;               
  padding: 8px;               
  color:white;             
  padding: 8px;               
  font: 13px sans-serif; 
  font-weight: bold;     
  background:  rgb(155, 0, 31);
  border: 0px;        
  border-radius: 4px;      
  pointer-events: none;   
  box-shadow: 4px 4px 10px rgba(0,0,0,.4);         
}


div.treemapLegend {   
  position: absolute;         
  text-align: center;    
  /*     
  width: 80px;                    
  height: 28px;
  */    
  top: 0px;
  right:0px;
  z-index:999;               
  padding: 0px;               
  color:black;                           
  font: 13px sans-serif; 
  font-weight: bold;     
  border-left: 7px solid rgb(155, 0, 31);      
  border-radius: 0rem 1rem 1rem 0rem;
  pointer-events: none;   
  /* box-shadow: 4px 4px 10px rgba(0,0,0,.4);          */
}

#logo{
  font-weight: 400;
  font:aharoni;
  color:white;
  margin: 0;
}

.carousel-control-prev{
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
}

.carousel-control-next{
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
}



@media only screen and (max-width: 812px) {
  /* #caption {
    display: none;
  } */
  #no-data {
    display: none;
  }
}


