body{
  background-color: linear-gradient(to bottom, #f0f2f4 0%,#e5e7e9 36%,#ccd6dc 100%);
}

.navbar-expand-sm{  
  /* background-color: #105e40;  */
  /* background-color: #0b5f00;   */
  background-color: #052962
  /* background-color: #000000; */
}

#logo-text{
  font-family: 'Fira Sans', sans-serif;
  color:white;
  text-shadow: 1px 1px 2px rgb(182, 182, 182);
  /* text-shadow: 3px 3px 2px rgb(32,188,128); */
  font-weight:bold;
  padding-left: 1rem;
  font-size: 1.5rem;
}

#logo{
  filter: drop-shadow(3px 3px 5px rgba(255, 255, 0, 0.8));
}

#logo:hover{
  filter: drop-shadow(3px 3px 5px rgba(255, 255, 0, 1));
}

.navbar-expand-sm .navbar-nav .nav-link {
  font-family: 'Fira Sans', sans-serif;
  color: white;
}

.navbar-expand-sm .navbar-nav .nav-link.active{
  text-decoration:overline solid #ffff00;
  text-decoration-thickness: 3px;
}

.navbar-expand-sm .navbar-nav .nav-link:hover {
  text-shadow:0px 3px 5px rgba(255, 255, 0, 1);
}

td.button-cell{
  text-align: center; 
  --bs-gutter-x: 0rem;
  width: 40px;
}

th.button-cell{
  text-align: center; 
  --bs-gutter-x: 0rem;
  width: 40px;

}

.card-body {
  padding: .5rem;
}

.accordion-body {
  padding: 0.75rem;
}

.table-striped > tbody > tr:nth-child(2n+1) > td{
  background-color: #F0FFFF;
  font-weight: bold;
}

.table-striped > tbody > tr:nth-child(2n) > td{
  background-color: #F9FFFF;
  font-weight: bold;
}

.w2ui-toolbar table.w2ui-button:hover{
  background-color: GhostWhite;
}

.w2ui-grid-data {
  font-weight:bold
}

#grid_grid_toolbar {
  background-color: linear-gradient(to bottom, #f0f2f4 0%,#e5e7e9 36%,#ccd6dc 100%);
}

#introbubble {
  background-image: url("../images/City-skyline-in-the-daytime-Graphics-3680087-1-1-580x348-4.jpg");
  background-repeat: repeat-x;
  color:#013e7d;
  text-shadow: 2px 2px 2px #ffffff;
  font-weight: bold !important;
}

.carousel-caption {
  position: absolute;top: 75%;left: 50%;transform: translate(-50%, 0%);background-color:#0075bf; color:white; font-weight: bold; border-radius: 20px;
}
.gby-breadcrumb {
  margin-right: 10px;
}

.val-breadcrumb {
  margin-left: 10px
}

.dim-breadcrumb {
  margin-left: 10px
}


.form-floating{
  font-size:12px
}

.form-select{
  font-size:12px
}

.w2ui-tb-image> .fa-sort-amount-down{ 
 color: rgb(219,93,40) !important
}

.w2ui-tb-image> .fa-tree{ 
 color: #198754 !important
}

.w2ui-menu{
  overflow: hidden !important
}



.navbar-toggler {
  color: #ffffff;
  border-color:#ffffff;
}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;.."); background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.bread-crumb {
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-size: 14px;
}

.gby-item {
  /*background-color: rgb(5, 155, 155);*/
  background-color: #66bb6a;
  color: white;
}

.gby-item:hover {
  /*background-color: rgb(3, 93, 93);*/
  background-color: #3d703f;
}

.val-item {
  background-color: rgb(255, 81, 0);
  color: white;
}

.val-item:hover {
  background-color: rgb(153, 48.6, 0);
}

.dim-item {
  background-color: rgb(255, 217, 0);
  color: black;
}

.dim-item::after {
  content: " \274c";
}

.dim-item:hover {
  background-color: rgb(153, 130.2, 0);
  color: white;
}

.val-filter-item {
  background-color: rgb(220, 20, 60);
  color: white;
}

.val-filter-item::after {
  content: " \2716";
}

.val-filter-item:hover {
  background-color: rgb(132, 12, 36);
  color: white;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Helvetica, Arial, sans-serif;
}

body > * {
  box-sizing: border-box;
}

.app-container {
  display: flex;
  justify-content: center;
  padding: 48px 16px 16px 16px;
}

.chart-container {
  width: 600px;
}

#pie-chart {
  width: 100%;
}

.node {
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
  cursor: pointer;
}

.node:hover
{
	border: ridge  4px;
	opacity: 0.7;
}

#treemap {
  font: 11px sans-serif;
  font-weight: bold;
  width: 80%;
  margin: 0 auto;
}
.node-label {
  padding: 4px;
  line-height: 1em;
  white-space: pre;
}

.node-value {
  color: rgba(0,0,0,0.8);
  font-size: 9px;
  font-weight: bold;
  margin-top: 1px;
}

tspan:last-child {
  font-size: 9px;
  fill-opacity: 0.8;
}

.node rect {
  shape-rendering: crispEdges;
}

.node--hover rect {
  stroke: #000;
}


