body {
  background-color: rgb(155, 0, 31);
  overflow:hidden;
}
/*
.table-striped > tbody > tr:nth-child(2n+1) > td{
  background-color: #FFFFF0;
  font-weight: bold;
}

.table-striped > tbody > tr:nth-child(2n) > td{
  background-color: FFFFF9;
  font-weight: bold;
}
*/
.table-striped > tbody > tr:nth-child(2n+1) > td{
  background-color: whitesmoke;
  font-weight: bold;
}

.table-striped > tbody > tr:nth-child(2n) > td{
  background-color: wheat;
  font-weight: bold;
}

.table-striped > tbody > tr:hover td {
  background-color: skyblue;
}

#map {
  width: 100%;
  height: 100%;
}

html,
body { height: 100%;margin: 0;padding: 0;}

.w2ui-menu{
  overflow: hidden !important
}

#prop-popup{   
  position: absolute;         
  /* text-align: center;     */
  /*     
  width: 80px;                    
  height: 28px;
  */        
  overflow: hidden;
  z-index:10;           
  padding: 8px !important;               
  font-weight: bold;     
  background: #f0f8ff; 
  border: 0px;        
  border-radius: 8px;      
  box-shadow: 4px 4px 10px rgba(0,0,0,.4);        
}

#popup-info{
  overflow: hidden !important;
  font-family: "Open Sans"!important;
  color: #656164;
}

.popup-table{
  line-height:1.25;
  font-size: 0.8rem;
  font-weight:normal;
}

.infobuttons{
  letter-spacing: -0.025rem;
  text-transform: uppercase;
  background-size: 150%;
  background-position-x: 25%;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 1.4;
  font-size: 0.75rem;
  border-radius: 0.5rem;
  transition: all 0.15s ease-in;
}

#counties_legend{
  background-color: #f5f5f5;
  /* border-style: solid;
  border-color: black; */
  width: 100px;
  height: 350px;
  border-radius: 8px;      
  box-shadow: 4px 4px 10px rgba(0,0,0,.4);        
}

#container{
  background-color:#f0f0f0;
  border-radius: 8px;  
  width:90%;
  height:90%;
  margin:auto;
  margin-top:20px;
  margin-bottom:20px;
  padding:10px;
}

.w2ui-toolbar{
  background: white !important;
}

.btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: rgb(0, 0, 0) !important;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 20 20'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  border: 0;
  border-radius: 0.25rem;
  opacity: 0.5;
}

.ms-n4 {
  margin-left: -1.5rem !important;
}

.me-n4 {
  margin-right: -1.5rem !important;
}

.carousel-inner{
  overflow: hidden !important;
}

/*
 * Container style
 */
 .ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

/*
 * Scrollbar rail styles
 */
.ps__rail-x {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  height: 15px;
  /* there must be 'bottom' or 'top' for ps__rail-x */
  bottom: 0px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-y {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  width: 15px;
  /* there must be 'right' or 'left' for ps__rail-y */
  right: 0;
  /* please don't change 'position' */
  position: absolute;
}

.ps--active-x>.ps__rail-x,
.ps--active-y>.ps__rail-y {
  display: block;
  background-color: transparent;
}

.ps:hover>.ps__rail-x,
.ps:hover>.ps__rail-y,
.ps--focus>.ps__rail-x,
.ps--focus>.ps__rail-y,
.ps--scrolling-x>.ps__rail-x,
.ps--scrolling-y>.ps__rail-y {
  opacity: 0.6;
}

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: #eee;
  opacity: 0.9;
}

/*
 * Scrollbar thumb styles
 */
.ps__thumb-x {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, height .2s ease-in-out;
  -webkit-transition: background-color .2s linear, height .2s ease-in-out;
  height: 6px;
  /* there must be 'bottom' for ps__thumb-x */
  bottom: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__thumb-y {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, width .2s ease-in-out;
  -webkit-transition: background-color .2s linear, width .2s ease-in-out;
  width: 6px;
  /* there must be 'right' for ps__thumb-y */
  right: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-x:hover>.ps__thumb-x,
.ps__rail-x:focus>.ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  background-color: #999;
  height: 11px;
}

.ps__rail-y:hover>.ps__thumb-y,
.ps__rail-y:focus>.ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: #999;
  width: 11px;
}

#logo {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
  font-weight: 400;
  font-family: Arial;
  color: black;
}

a {
  text-decoration:none;
}



/* MS supports */
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}